<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Index</title>
</head>
<body>
<h1>Handlebars</h1>
<ul>
    {{#each users as |user|}}
        <li><a href="/{{user.nickname}}">{{user.nickname}}</a></li>
    {{/each}}
</ul>
<hr width="80%" color="gray">
<h1>Add user</h1>
<dl>
    <dt>Name</dt>
    <dd class="view"></dd>
    <dd class="edit"><input id="name" type="text" value=""></dd>
    <br>
    <dt>Age</dt>
    <dd class="view"></dd>
    <dd class="edit"><input id="age" type="number" value=""></dd>
    <br>
    <dt>Address</dt>
    <dd class="view"></dd>
    <dd class="edit"><input id="address" type="text" value=""></dd>
    <br>
    <dt>Favorite fruit</dt>
    <dd class="view"></dd>
    <dd class="edit"><input id="fruit" type="text" value=""></dd>
    <br>
    <dt></dt>
    <dd class="edit">
        <input type="submit" value="Save" onclick="checkForm()">
    </dd>
</dl>
<script>
    function edit() {
        [...document.querySelectorAll('.view')].forEach(el => el.style.display = 'none');
        [...document.querySelectorAll('.edit')].forEach(el => el.style.display = '');
    }

    // метод checkForm проверяет заполненные поля, если все поля заполнены то выполняется метод save()
    function checkForm() {
        let allFields = true;
        document.querySelectorAll('.edit input[type="text"], .edit input[type="number"]').forEach(el => {
            if (el.value === '') {
                allFields = false;
                el.focus();
            }
        });
        if (allFields) {
            save();
        }
    }

    function save() {
        const user = {
            name: document.querySelectorAll('#name')[0].value,
            age: document.querySelectorAll('#age')[0].value,
            address: document.querySelectorAll('#address')[0].value,
            fruit: document.querySelectorAll('#fruit')[0].value
        };
        fetch('/', {
            method: 'post',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(user)
        });
        then((response) => {
            location.reload();
        })
        document.querySelectorAll('.edit input[type="text"], .edit input[type="number"]').forEach(el => el.value = '');
    }
</script>
</body>
</html>
