* {
    font-family: Helvetica, Arial, sans-serif;
}

div {
    display: flex;
    align-items: center;
    padding: 1em;
    font-size: 1.2em;
}

div a {
    padding-left: 0.5em;
}

div.nav {
    float: left;
    width: 100%;
    height: 100px;
}

input {
    font-size: 1em;
}

dt {
    font-weight: bolder;
    display: inline-block;
    width: 8em;
}

dd {
    display: inline-block;
    margin-left: 0;
    line-height: 1.5;
}